@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "futura-pt";
    src: url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "futura-pt";
    src: url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "futura-pt";
    src: url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-style: normal;
    font-weight: 300;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  height: 100vh;
}

a {
  text-decoration: none;
  color: rgba(248,230,231,1.00);
}

	
/*Navigation Start*/
#mySidenav a {
  position: absolute;
  left: -95px;
  transition: 0.3s;
  padding: 15px;
  width: 180px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255,255,255,1.00);
  border-radius: 0 5px 5px 0;
  font-family: 'futura-pt', helvetica, san-serif;
}
#mySidenav a:hover {
  left: 0;
}
#home {
  top: 20px;
  background-color: rgba(0, 151, 194, 1.00);
}
#about {
  top: 80px;
  background-color: rgba(233, 71, 32, 1.00);
}
#portfolio {
  top: 140px;
  background-color: rgba(251, 190, 0, 1.00);
}
#contact {
  top: 200px;
  background-color: rgba(20, 47, 86, 1.00);
}
/*Navigation End*/
	
/*Footer-Navigation Start*/
.footer {
	position: absolute;
	margin-top: 100px;
	bottom: 0;
	display: flex;
	justify-content: left;
	width: 1366px;
	font-family: 'futura-pt', helvetica, san-serif;

}
.footer div {
	width: 150px;
	margin: 20px 20px 0 20px;
	text-align: center;
	line-height: 75px;
	font-size: 20px;
	font-weight: 600;
}	
.footer a {
   color: rgba(255,255,255,1.00);
}	
#copy {
  font-weight: 400;
	font-size: 0.9em;
}	
#home2 {
  top: 20px;
  border-radius: 7px 7px 0 0;
  background-color: rgba(0, 151, 194, 1.00);
}
#about2 {
  top: 80px;
  border-radius: 7px 7px 0 0;
  background-color: rgba(233, 71, 32, 1.00);
}
#portfolio2 {
  top: 140px;
  border-radius: 7px 7px 0 0;
  background-color: rgba(251, 190, 0, 1.00);
}
#contact2 {
  top: 200px;
  border-radius: 7px 7px 0 0;
  background-color: rgba(20, 47, 86, 1.00);
}
	
/*Social Media Icons Start*/
.fa {
  padding: 12px;
  font-size: 19px;
  width: 150px;
  height: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}		
.fa-facebook {
  background: rgba(59,89,152,1.0);
  color: rgba(255,255,255,1.00);
  border-radius: 5px;
}
.fa-linkedin {
  background: rgba(14,118,168,0.6);
  color: rgba(255,255,255,1.00);
  border-radius: 5px;
}
/*Social Media Icons End*/
/*Footer-Navigation End*/
		
a {
	text-decoration: none;
	font-family: 'futura-pt', helvetica, san-serif;
	color: rgba(255,255,255,1.00);
}

a:hover {
	color: rgba(255, 255, 25, 0.9);
}

h1 {
	font-size: 40px;
	margin-left: 15%;
	font-family: 'futura-pt', helvetica, san-serif;
	color: rgba(20, 47, 86, 1.00);
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 2px 1px rgba(10,10,10,0.3);
}	
		
/*Contact Form Start*/
input[type=text], select, textarea {
  font-family: 'futura-pt', helvetica, san-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 0.9em;
}
	
/*Submit Button Start*/
input[type=submit] {
  background-color: rgba(20, 47, 86, 1.00);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: rgba(0, 151, 194, 1.00);
}
/*Submit Button End*/
	
.container {
  width: 70%;
  margin: 5% auto auto auto;
  border-radius: 5px;
  background-color: rgba(242,242,242,1.00);
  padding: 20px;
  font-family: 'futura-pt', helvetica, san-serif;
}
/*Contact Form End*/	
	
	