@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "futura-pt";
	src: url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "futura-pt";
	src: url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "futura-pt";
	src: url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
	font-style: normal;
	font-weight: 300;
}
html {
	font-family: 'futura-pt', helvetica, san-serif;
	font-size: 100%;
	color: rgba(248,230,231,1.00);
	font-weight: 400;
	background: url("../images/butterfly.jpg") no-repeat center fixed;
	background-size: cover;
}
a {
	text-decoration: none;
	color: rgba(248,230,231,1.00);
}
/*Navigation Start*/
.navigation {
	display: flex;
	justify-content: left;
	width: 1366px;
}
.navigation div {
	width: 150px;
	/* margin: 10px;*/
	text-align: center;
	line-height: 75px;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
a:hover {
	color: rgba(255, 255, 25, 0.9);
}
button {
	padding: 0;
}
.dropbtn {
	background-color: inherit;
	color: rgba(248,230,231,1.00);
	border: none;
	cursor: pointer;
	line-height: 75px;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(248,230,231,0.9);
	min-width: 230px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 4px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: rgba(248,230,231,1.00);
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	color: rgba(255, 255, 25, 0.9);
}
/*Navigation End*/

h1 {
	color: rgba(248,230,231,1.00);
	width: 600px;
	margin: 4em auto;
	font-size: 3.25em;
	text-transform: uppercase;
}
/*Footer-Navigation Start*/
.footer {
	display: flex;
	justify-content: left;
	width: 1366px;
	bottom: 0;
}
.footer div {
	width: 150px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 0.9em;
	font-weight: 700;
	text-transform: uppercase;
}
/*Footer-Navigation End*/
